@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto+Serif:opsz,wght@8..144,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: #d1ca06;
    font-weight: 250;
    background-color: #1a1818;
    font-family: 'Josefin Sans', sans-serif;
}


nav {
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

nav>ul {
    text-decoration: none;
    color: rgb(241, 241, 18);
}

nav>ul:hover {
    color: #e8eae0;
}

h1,
h2,
h3 {
    font-family: 'Roboto Serif', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #ccf809;
}

#taxi {
    float: right;
    font-size: 280%;
    margin-right: 30px;
}

/*Navigation links*/

#taxiMenu {
    font-size: 100%;
    letter-spacing: 5px;
}

#taxiMenu,
#taxi {
    line-height: 75px;
}

#taxiMenu li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
}


.text-uppercase {
    text-transform: uppercase;
}

.text-align {
    text-align: center;
}

#taxiMenu a {
    text-decoration: none;
    color: inherit;
}

#taxiMenu a:hover {
    border-bottom: 3px solid #e5f2b1;
}

.live {
    border-top: 3px solid #e73737;
}

#taxi-dublin {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover,
#cover h2 {
    color: rgb(238, 231, 142);
}

/* Image Animation */

#taxiImg {
    height: 600px;
    width: 100%;
    background: url('../images/taxiS.jpg') no-repeat center center;
    animation-name: taxi-focus;
    animation-duration: 10s;
    animation-fill-mode: backwards;
}

@keyframes taxi-focus {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover {
    font-size: 100%;
    font-family: 'Roboto Serif', sans-serif;
    letter-spacing: 4px;
    text-align: center;

    width: 320px;
    height: 320px;

    padding-top: 30px;
    padding-left: 10px;

    background-color: rgba(70, 233, 222, 0.44);

    top: 80px;
    left: 200px;

    position: absolute;
}

.coverTwo {
    padding-top: 30px;
    color: #f43434;
    text-align: left;
    margin-top: 5%;
}

/* TaxisA2B services */

#taxisa2b {
    height: 600px;
    padding: 1rem 0;
    background: url('../images/taxiBlink.jpg') center center / cover no-repeat fixed;

}

#taxiLeft {
    padding-top: 75px;
    width: 45%;
    float: left;
    background-color: rgb(13, 13, 12);
    position: relative;
    border-width: 3px;
    border-radius: 5%
}

#taxiRight {
    padding-top: 75px;
    width: 45%;
    float: right;
    background-color: rgb(13, 13, 12);
    position: relative;
    border-width: 3px;
    border-radius: 5%
}


hr {
    border-top: 2px solid #e40909;
    width: 100%;
    margin: 5px 0;
}

.taxiLeftTop {
    width: 100%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 60px;
    text-align: left;
    color: white;
}

.taxiRightTop {
    width: 100%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 60px;
    text-align: right;
    color: white;
}


.taxiRightTop h2 {
    text-align: left;
}

.taxiLeftTop h2 {
    text-align: justify;
}


.taxiRightTop p {
    text-align: justify;
}

.taxiLeftTop p {
    text-align: justify;
}

#services {
    text-align: center;
    margin: 20px 0;
    font-size: 250%;
    color: #ff0000;
}

#mapouter {
    height: 600px;
    margin-top: 160px;
    margin-bottom: 160px;
}

#gmap_canvas {
    height: 100%;
    width: 100%;
    border: none;
}

/* Taxi Social Network*/

footer {
    height: 110px;
    color: #ccf809;
    font-size: 200%;

}

.taxiNetwork {
    text-align: center;
}

footer h3 {
    text-align: center;
    font-family: 'Roboto Serif', sans-serif;
    color: #ccf809;
    margin: 60px auto;
}

footer p {
    text-align: center;
    font-family: 'Roboto Serif', sans-serif;
    color: #ccf809;
    margin: 60px auto;
}

.taxiNetwork a {
    font-size: 150%;
    padding: 5%;
    color: yellow;
    margin: 40px auto;
}


/* Booking TaxisA2B */



form {
    width: 800px;
    padding: 30px;
    border-radius: 10px;
    margin: 40px auto;
    color: #310666;
    font-family: 'Roboto Serif', sans-serif;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    font-size: large;
}

.bookingTaxisa2b{
    text-align: center;
    margin: 60px 60px 60px 40px;
    padding: 3rem 3rem;
}

#client-name {
    clear: left;
    background: url('../images/taxisa2b.jpg') center center no-repeat;
    background-size: cover;
    height: 600px;
}

#background {
    background: #f9f90e;
    text-align: center;

}

#background p{
    text-align: center;
}

legend {
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px 0 80px 0;
    float: left;
    color: #e40909;
    font-family: 'Roboto Serif', sans-serif;
}


input[type=submit] {
    margin-top: 40px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 10px;
    float: left;
}

input[type=reset] {

    margin-top: 40px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: white;
    color: #222;
    border: 5px solid #e40909;
    border-radius: 10px;
    float: right;

}

input[list=time] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
    margin: 0 auto;
}

.text-input {
    background: transparent;
    color: #310666;
    width: 30%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    text-align: justify;

}

.text-input:hover {
    border-color: #3809f3;
}

select {
    height: 36px;
    width: 100px;
    padding-left: 30px;
    color: #e40909;
    font-weight: bold;
    background: transparent;
}

form p {
    text-align: center;
}

.color-change {
    color: rgb(205, 17, 7);
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    text-decoration: solid;
    margin: 20px 59px 20px 0;
    font-family: 'Roboto Serif', sans-serif;
    background: #f9f90ed6;
}

#booking {
    height: 30px;
    width: 100px;
    padding-left: 10px;
    color: #e40909;
    font-weight: bold;

}

.text-color {
    color: #310666;
    font-weight: bold;
    border: none;
    margin-top: 60px;
}


.block-label {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    float: right;
}

.block-label:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* About us page */

#about {
    margin: 90px 90px 90px;
    font-family: 'Roboto Serif', sans-serif;
    color: #ccf809;
}

#about h2 {
    text-align: center;
    margin: 60px 0;
}

#about .program {
    float: right;
    color: #e8eae0;
    width: 40%;
    line-height: 30px;
    margin: 50px 0;

}

#img-taxi3 img {
    width: 50%;
    height: 40%;
    border-style: solid;
    border-color: yellow;
    border-width: 5px;
    border-radius: 20%
}

.list-change:hover {
    background-color: rgb(248, 248, 12);
    color: black;
    margin: 10px 10px 10px 10px;
    border-radius: 3px;
}

#about-taxi {
    font-family: 'Roboto Serif', sans-serif;
    color: #ccf809;
    margin: 20px 0;
}

#about-taxi h2 {
    text-align: left;
    margin: 60px 0;
}

.aboutUsTaxis img {
    width: 50%;
    height: 40%;
    border-style: solid;
    border-color: yellow;
    border-width: 5px;
    margin: 70px auto;
    float: right;
    border-radius: 20%;
}

.aboutTaxi {
    overflow: hidden;
    float: left;
    color: #e8eae0;
    width: 40%;
    line-height: 30px;
    margin: 50px 0;
}

.about-taxiImage h2 {
    font-family: 'Roboto Serif', sans-serif;
    color: #ccf809;
}

.aboutUsTaxisImg p {
    text-align: justify;
    color: #e8eae0;
    width: 100%;
    line-height: 30px;
    margin: 50px 0;
}

.aboutUsTaxis2 img {
    width: 100%;
    border-style: solid;
    border-color: yellow;
    border-width: 5px;
    border-radius: 20%;
    overflow: hidden;
}

/*Media queries*/

/*For larger to medium screen size 1200px*/
@media screen and (max-width: 1200px) {
    #taxisa2b{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #services {
        padding: 30px 0;
        margin: 0;
    }

    #taxiLeft, #taxiRight {
        width: 100%;
        float: left;
        padding: 0;
    }

    div #mapouter{
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr{
        display: none;
    }

    #about{
        width:fit-content;
   }
   
   #about .program {
       float: left;
     width:fit-content;
   }
   
   #about-taxi .aboutUsTaxis > img{
       float:left;
      width:100%;
   }
   
   #about-taxi .aboutTaxi{
       width:fit-content
   }

}


/*for medium screen size from 950px wide and down*/

@media screen and (max-width: 950px) {
    #taxiMenu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    form {
        clear:both;
        width:fit-content;
        max-width: 600px;
        max-height: 600px; 
    }

    #client-name{
        clear: both;
        width: 100%;
        height: 900px;
        margin: 0 auto;
    }

    #cover {
        left: 0;
    }

    #taxisa2b {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .taxiLeftTop,
    .taxiRightTop {
        width: inherit;
    }

    .taxiLeftTop h2,
    .taxiRightTop h2 {
        width: 100%;
        text-align: center;
    }

    .taxiLeftTop p,
    .taxiRightTop p {
        text-align: center;
        padding: 0 20px;
    }

    #about{
        width:fit-content;
   }
   
   #about .program {
       float: left;
     width:fit-content;
   }
   
   #about-taxi .aboutUsTaxis > img{
       float:left;
      width:100%;
   }
   
   #about-taxi .aboutTaxi{
       width:fit-content
   }
}

/* media for screen max 600px */

@media screen and (max-width: 600px){
    #cover{
        width:fit-content;
    }

#about{
     width:fit-content;
}

#about .program {
    float: left;
  width:fit-content;
}

#about-taxi .aboutUsTaxis > img{
    float:left;
   width:100%;
}

#about-taxi .aboutTaxi{
    width:fit-content
}

    #taxisa2b{
        max-width: 800px;
        max-height: 800px;
        margin: 0 auto;
    }

    #taxiMenu li>a{        
        float:left;
        padding: 10px 10px 10px 40px;
    }

    #services {
        padding: 30px 0;
        margin: 0;
    }

    #taxiLeft, #taxiRight {
        width: 100%;
        float: left;
        padding: 0;
    }

    div #mapouter{
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr{
        display: none;
    }

    form {
        max-width: 90%;
        max-height: 100%; 
    }
}
