@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto+Serif:opsz,wght@8..144,300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    color: #d1ca06; 
	font-weight: 250;
	background-color: #1a1818;
	font-family: 'Josefin Sans', sans-serif;
}

.right{
    height: 5vh;
}

nav{
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

nav > ul  {
	text-decoration: none;
	color: rgb(241, 241, 18);
}

nav > ul:hover{
    color: #e8eae0;
}

h1, h2, h3{
    font-family: 'Roboto Serif', sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #ccf809;
}

#taxi{
    float: right;
    font-size: 200%;
    margin-right: 50px;
	height: 50px;
}

/*navigation links*/

#taxiMenu{
    font-size: 100%;
    letter-spacing: 5px;  
}

#taxiMenu, #taxi{
    line-height: 50px;
	padding: 1rem;
}

#taxiMenu li{
	display: inline-block;
    list-style-type: none;
    margin-left: 30px;
}

.text-uppercase{
	text-transform: uppercase;
}

.text-align{
	text-align: center;
}

#taxiMenu a{
    text-decoration: none;
    color: inherit;   
}

#taxiMenu a:hover{
    border-bottom: 3px solid #e5f2b1;
}

.live{
    border-top: 3px solid #e73737;
}

#taxi-dublin{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover, #cover h2{
    color: rgb(238, 231, 142);
}

#taxiImg{
    height: 600px;
    width: 100%;
    background: url('../images/taxiS.jpg') no-repeat center center;
    animation-name: taxi-focus;
    animation-duration: 10s;
    animation-fill-mode: backwards;
}
